<mat-selection-list
  role="listbox"
  class="nav-list"
  [multiple]="false"
  selectedOptions="default"
>
  <mat-divider></mat-divider>
  <app-nav-list-item
    icon="subject"
    title="All"
    [selected]="true"
  ></app-nav-list-item>

  <mat-divider></mat-divider>
  <app-nav-list-item
    icon="highlight_off"
    title="in progress"
    filter="IN_PROGRESS"
  ></app-nav-list-item>
  <app-nav-list-item
    icon="check_circle"
    title="completed"
    filter="COMPLETED"
  ></app-nav-list-item>

  <!-- <mat-divider></mat-divider>
  <app-nav-list-item
    icon="assignment_late"
    title="today"
    filter=""
  ></app-nav-list-item>
  <app-nav-list-item
    icon="event"
    title="upcoming"
    filter=""
  ></app-nav-list-item> -->
</mat-selection-list>
