<!-- TODO: decide on logic -->
<!-- https://material.angular.io/components/list/overview -->
<mat-nav-list role="list" class="nav-list">
  <mat-divider></mat-divider>

  <app-nav-list-item
    icon="assignment_late"
    title="today"
    [action]=""
  ></app-nav-list-item>
  <app-nav-list-item
    icon="event"
    title="upcoming"
    [action]=""
  ></app-nav-list-item>

  <mat-divider></mat-divider>

  <app-nav-list-item
    icon="highlight_off"
    title="to do"
    [action]=""
  ></app-nav-list-item>
  <app-nav-list-item
    icon="check_circle"
    title="completed"
    [action]=""
  ></app-nav-list-item>
</mat-nav-list>
