.todo-item {
  display: flex;
  align-items: center;

  &__checkbox {
    margin-right: 1rem;
  }
  &__content {
    flex-grow: 1;
  }
  &__title {
    cursor: pointer;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
  &__date {
    margin-right: 1rem;
    text-align: end;
    white-space: nowrap;
  }

  &__edit-container {
    display: flex;
  }
  &__edit {
    padding: 0 1rem;
    background-color: #eee; // TODO: get color from mat theming
  }
}
