<mat-sidenav-container class="sidenav-container">
  <!-- TODO: refactor into <app-sidenav> and <app-toolbar> -->

  <!-- <app-sidenav></app-sidenav> -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Filters</mat-toolbar>
    <!-- TODO: decide on logic -->
    <!-- https://material.angular.io/components/list/overview -->
    <!-- TODO: refactor into separate component -->
    <mat-nav-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListIcon>assignment_late</mat-icon>
        <span>Today</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListIcon>today</mat-icon>
        <span>Upcoming</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <mat-icon matListIcon>highlight_off</mat-icon>
        <span>To Do</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListIcon>check_circle</mat-icon>
        <span>Completed</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content content">
    <!-- <app-toolbar></app-toolbar> -->
    <mat-toolbar color="primary" class="content__toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>toodoo.</span>
      <!-- https://material.angular.io/components/autocomplete/overview -->
      <div class="content__search">
        <span>Search</span>
      </div>
    </mat-toolbar>

    <app-add-todo></app-add-todo>
    <app-todo-list></app-todo-list>
  </mat-sidenav-content>
</mat-sidenav-container>
